# BASE SETTINGS
# Уровень логирования приложения (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO

# TELEGRAM SETTINGS 
# Токен бота Telegram (получается у @BotFather)
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
# ID администратора бота
ADMIN_ID=123456789
# Список разрешённых Telegram ID (через запятую в JSON-формате)
TLG_ALLOWED_ID=[123456789,987654321]

# OPENROUTER SETTINGS
# Ключ и параметры OpenRouter (заполняются по необходимости)
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY_HERE
OPENROUTER_MODEL=qwen/qwen3-next-80b-a3b-instruct:free
OPENROUTER_API=https://api.openrouter.ai/v1

# DEMUCS SETTINGS
MUSIC_DIR=/music
DEMUCS_MODEL="htdemucs"

# SPEECHES SETTINGS 
LANG_DEFAULT="ru"
SPEECHES_BASE_URL="http://192.168.0.206:8001"
TRANSCRIPTION_MODEL_ID="Systran/faster-whisper-medium"
PROMPT_SPEECHES=""
